.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

#drawer {
  position: fixed;
}

.mat-toolbar.mat-primary {
  background-color: steelblue;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-icon {
  background-color: white;
  border-radius: 5%;
  color: black;
  padding: 2px;
}

span {
  margin: 0 auto;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

mat-sidenav {
  color: black;
  font-size: large;
  font-weight: bolder;
}
