.sidenav-container {
  height: 100%;
  }

 .sidenav {
 width: 200px;
 margin-top: 72px;
 }

.sidenav .mat-toolbar {
 background: inherit;
 }

#drawer {
position: fixed;
}

.mat-toolbar.mat-primary {
 position: sticky;
 top: 0;
 z-index: 1;
}

.mat-icon {
  background-color: #dcdcdc;
  border-radius: 5%;
}

span {
  margin: 0 auto;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.navigation {
  background-color: #808080;
}
