<div class="home">
  <h1>
    Welocom to Information App
  </h1>
  <p>
    Get information about the Orders and Customer of your restorent.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nisi minima officia aliquid itaque rerum ipsa eum omnis earum aspernatur fuga consequatur similique, saepe, illo laboriosam. Reprehenderit illum sit at recusandae voluptatem unde numquam provident, ex ipsam eius commodi perspiciatis deleniti quae laudantium placeat doloribus odit. Sit id delectus eos soluta minus libero possimus? Nihil ab eos explicabo quidem nam?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ea eaque autem accusantium tempora, delectus quae assumenda corrupti rem asperiores ex quisquam eos voluptatum, odit magnam, nisi fugiat modi ducimus veniam. Accusantium at dolore deleniti ex laborum adipisci fuga aut perspiciatis distinctio quo dolor neque necessitatibus, fugiat esse excepturi suscipit officia repudiandae incidunt saepe magni nesciunt numquam eum. Fuga distinctio quaerat qui laboriosam eaque ad? Accusamus placeat dolore molestias doloremque vitae soluta ipsum earum nihil dolorum, facilis quo eius rerum commodi, corrupti unde quam sint corporis explicabo repudiandae distinctio reprehenderit nulla libero illum repellendus? Minus recusandae distinctio quidem enim nam?
  </p>
</div>
